#app-footer {
    background: linear-gradient(89.71deg, #383838 23.22%, #575757 92.95%);
    padding-top: 2em;
}

#app-footer img {
    max-width: 185px;
    max-height: 200px;
    object-fit: cover;
}

#app-footer .footer-logo {
    margin-bottom: 2rem;
}

#app-footer .app-social {
    display: flex;
    justify-content: center;
}

#app-footer .app-social a {
    margin: 0 .75rem;
}

.app-quick-links {
    display: block;
}

.app-quick-links [x-title] {
    color: var(--app-footer);
    font-family: var(--font);
    margin-bottom: 1.5rem;
    display: block;
}

.app-quick-links ul {
    list-style: square;
    color: var(--app-primary);
    padding-left: 1.25rem;
}

.app-quick-links[detail] ul {
    list-style: none;
}

.app-quick-links li {
    position: relative;
    margin-bottom: 1rem;
}
.app-quick-links li a{
    vertical-align: 3px;
}
.app-quick-links li::marker {
    font-size: 24px;
}

.app-quick-links[detail]{
    margin-left: 5rem;
}
.app-quick-links[detail] span {
    padding-left: 4px;
}

.app-quick-links [x-icon] {
    position: absolute;
    left: -25px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

#app-footer .app-credits {
    background-color: #000;
    margin-top: 2rem;
    padding: .5rem 2rem;
    color: #fff;
}

#app-footer .app-credits img {
    width: 100px;
    display: block;
}

#app-footer .app-credits .app-copyright {
    font-size: 14px;
    width: 100%;
}

#app-footer .app-credits a {
    width: 100%;
}

#app-footer .col-12 {
    justify-content: center;
}

@media (max-width: 767px) {
    .app-quick-links ul {
        list-style: none;
        padding: 0;
    }

    .app-quick-links [x-icon] {
        display: none;
    }
}

@media (min-width: 992px) {
    .app-quick-links {
        /* margin: 0 3rem; */
    }

    #app-footer .app-credits .row {
        margin: 0 4rem;
    }
}