/* Top Header */
.top-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    background: var(--app-primary);
    flex-wrap: nowrap;
}

.top-header .app-social {
    height: 30px;
    background: transparent !important;

}

.top-header .app-social a {
    color: #fff;
}

.top-header .app-social a:hover {
    color: var(--app-primary-hover)
}

.top-header .app-social li {
    padding: 0 .5rem !important;
}


#app-header #navbarSupportedContent>.navbar-nav {
    flex-wrap: wrap;
}

/* Header */
#app-header {
    transition: .3s background-color, .3s color, .3s left;
    padding-left: 0;
}


.app-brand {
    height: 100px;
}

#app-header .app-nav-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-header[main] {
    background-color: #fff;
    right: 0;
}

.app-brand+.navbar-collapse {
    flex-basis: auto;
}

.app-navbar-first {
    padding-right: 1rem;
    margin-left: auto;
}

.app-navbar-first .navbar-nav {
    font-size: 14px;
}

#app-header .app-brand+div .nav-link {
    padding: 0.5rem !important;
}


#app-header[main] .nav-link {
    color: #000;
}

@media (max-width: 767px) {

    #app-header {
        padding-left: 0;
        height: 90px;
        top: 30px;
    }

    .top-header {
        display: flex;
    }

    .top-header .app-social a {
        font-size: 14px;
    }

    .app-brand {
        margin-right: 0;
        height: 100%;
    }

    .app-brand img {
        width: 150px !important;
    }

    .navbar-toggler {
        background: var(--app-primary);
    }

    .navbar-toggler+.navbar-collapse .nav-link {
        color: #fff !important;
    }


    .navbar-toggler+.navbar-collapse {
        background: rgba(0, 0, 0, 0.4);
        margin: .5rem -1rem;
        padding: 1rem;
        text-align: center;
        width: 100%;
        backdrop-filter: blur(2px);
    }

    #app-header .app-nav-icons .navbar-nav {
        flex-direction: row;
    }

    #app-header .app-nav-icons .navbar-nav a {
        padding: 1rem;
    }

    .app-title [title]::before {
        width: 100% !important;
        left: 0;
        top: 100% !important;
    }

}

@media (min-width: 768px) {
    #app-header {
        padding-top: 1rem;
    }

    #app-header[home] {
        right: 80px;
    }

    #app-header[main] {
        right: 0;
    }
}