#app-header {
    height: 100px;
    transition: .3s background-color, .3s color, .3s left;
}

#app-header[home] {
    right: 88px;
}

#app-header .app-nav-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-header[main] {
    background-color: #fff;
    right: 0;
}

@media (min-width: 768px) {
    #app-header[main] .nav-link {
        color: #000;

    }
}