#page-about-us {
    padding: 2rem 0;
}

.app-page h6 {
    color: var(--app-primary);
    font-family: var(--font);

}

.app-page-head {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.app-page img {
    box-shadow: -30px 30px 0 -20px var(--app-primary-dark);
    object-fit: cover;
}

#page-faqs img {
    height: 100%;
}

#contact-us .card-header {
    background: var(--app-primary);
    color: white;
}

#contact-us .app-quick-links a {
    text-decoration: none;
    color: #000;
}

#contact-us .app-quick-links a:hover {
    color: var(--app-primary);
}

#contact-us .card {
    height: 100%;
}

.page-menu {
    position: relative;
}

.page-menu .app-dish-card {
    margin-bottom: 2rem;
}

.page-menu .menu {
    width: 100%;
    height: 150px;
    position: relative;
    margin-bottom: 4rem;
}

.page-menu .menu img {
    height: 100%;
    object-fit: cover;
}

.menu-page [x-name] {
    background: var(--app-primary);
    color: #fff;
    padding: 2px 1rem;
    font-size: 30px;
    font-family: var(--font);
    min-width: 220px;
    text-align: center;
}

#menus .menu {
    height: 300px;
}

#menus .menu [x-container] {
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#menus .menu [x-name] {
    font-size: 14px;
    min-width: 150px;
}

#menus .item {
    overflow: hidden;
}

.app-bg-light {
    background: rgba(196, 196, 196, 0.24);
    padding: 2.5rem 0;
}

.app-bg-none {
    padding: 2.5rem 0;
}

@media (max-width: 767px) {
    #page-about-us img {
        max-height: 500px;
    }

    #page-menu .menu {
        height: 100px;
    }
}